.header {
    padding: 25px 71px;

}

.header .search {
    padding: 12px 68px;
    background-color: bisque;
    background: #F2F2F2;
    border-radius: 21px;
}

.header .search input {
    background: #F2F2F2;
    border-radius: 21px;
    width: 242px;
     font-weight: 500;
    font-size: 14px;
}
.header .search input:focus{
    outline: none;
}